.input1{
    background-color: darkgray;
}
.input2{
    background-color: aqua;
}
.input3{
    background-color: aquamarine;
}
.input4{
    background-color: brown;
}
.input5{
    background-color: bisque;
}
.input6{
    background-color: azure;
}
.input7{
    background-color: pink;
}
.input8{
    background-color: yellow;
}
.input9{
    background-color: blue;
}
.input10{
    background-color: violet;
}
.input11{
    background-color:red;
}
.input12{
    background-color: chartreuse;
}
.input13{
    background-color: aqua;
}